{{!< ../layout/fontstage_layout}}

{{#contentFor 'fontstagePageStyles'}}
  <link rel="stylesheet" href="../css/user/winner.css">
  <script type="text/javascript" src="../js/user/winner.js"></script>
{{/contentFor}}



<div class="winner">

  <div class="contestsTypeName">
    <h3>作品分类</h3>
  </div>

  <div class="participatingContent" id="participatingContent">
    <div class="participatingSchool">
      <span class="participatingSchoolName">学校：</span>
      <ul class="schools">
        <li class="contestsType open" id="schools"><a href="#">全部</a></li>
        {{#each schools}}
          <li class="contestsType" id="schoolSingle"><a href="#">{{schoolName}}</a></li>
        {{/each}}
      </ul>
    </div>

    <div class="participatingYear" id="participatingYear">
      <span class="participatingTypeName">年份：</span>
      <select class="years">
        {{#each year}}
          <option class="contestsYear">{{this}}</option>
        {{/each}}
      </select>
    </div>

    <div class="award">
      <span class="awardName">奖项：</span>
      <ul class="awardType">
        <li class="contestsType open" id="allaward">
          <a href="#">全部</a>
        </li>
        <li class="contestsType" id="firstaward">
          <a href="#">一等奖</a>
        </li>
        <li class="contestsType" id="secondaward">
          <a href="#">二等奖</a>
        </li>
        <li class="contestsType" id="thirdaward">
          <a href="#">三等奖</a>
        </li>
      </ul>
    </div>

  </div>

  <div class="contestsTypeName">
    <h3>获奖名单</h3>
  </div>
  <div class="winners">
    <table class="winnersContent">
      <thead>
        <tr>
          <th data-name="contestId">项目编号</th>
          <th data-name="contestName">项目名称</th>
          <th data-name="leader">项目负责人</th>
          <th data-name="studentCount">作者</th>
          <th data-name="year">作品日期</th>
          <th data-name="school">学校</th>
          <th data-name="isWin">奖项</th>
          <th data-name="contestScore">总分</th>
          <th>查看作品</th>
        </tr>
      </thead>
      <tbody>
        {{#each contests}}
          <tr>
            <td>{{contestId}}</td>
            <td>{{contestName}}</td>
            <td>{{leader}}</td>
            <td>{{studentCount}}</td>
            <td>{{year}}</td>
            <td>{{schoolName}}</td>
            <td>{{contestScore}}</td>
            <td>{{isWin}}</td>
            <td>
              <a href="contest_detail?data={{contestId}}">查看</a>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>

    <div class="noResult">此次查询没有结果</div>
  </div>
</div>
